*,
*:before,
*:after {
    box-sizing: border-box;
}

* {
    margin: 0;
    padding: 0;
    --c-title: #000;
    --c-text: #fff;
    --c-icon-font-products: #3f4447d8;
    --c-fcontent: #900;
    --c-font: rgba(230, 222, 232, 1);
    --c-secundary: rgb(197, 197, 197);
    --c-icon-hover: gold;
    --c-rod: #282d31;
    --c-icon-social: #fcfcf0;
    --c-container-graphic: rgba(0, 0, 0, 0.87);
}

body {
    background-color: var(--c-font);
    max-width: 900px;
    margin: 20px auto;
}

.main-container-data {
    display: flex;
    flex-direction: column;
    cursor: default;
}

.data-title {
    color: var(--c-title);
    font-weight: bold;
    font-size: 24px;
}

.data-title::after {
    content: '';
    width: 90px;
    height: 5px;
    display: block;
    background-color: var(--c-title);
}

.main-container-content {
    display: flex;
    background-color: var(--c-fcontent);
    flex-wrap: wrap;
    margin: 20px 0;
    text-align: center;
}

.main-container-nav {
    flex: auto;
    display: inherit;
}

.nav-subtitle {
    width: 20%;
    text-decoration: none;
    line-height: 2;
    font-size: 16px;
    font-weight: bold;
    color: var(--c-text);
    cursor: default;
}

.nav-main {
    width: 100%;
    display: inherit;
    justify-content: space-between;
}

.nav-main__menu {
    width: 70%;
    display: inherit;
    list-style: none;
}

.nav-main__item {
    justify-content: space-around;
    width: 50%;
    display: inherit;
    align-self: center;
}

.nav-main__link {
    text-decoration: none;
    font-size: 12px;
    color: var(--c-text);
    position: relative;
}

.nav-main__link:before {
    content: '';
    position: absolute;
    display: block;
    background-color: var(--c-text);
    width: 0;
    height: 2px;
    bottom: 0;
    transition: all .4s;
}

.nav-main__link:hover:before {
    width: 100%;
}

.efect:before {
    left: 50%;
}

.efect:hover:before {
    left: 0;
}

.nav-main__logos {
    width: 20%;
    display: inherit;
    list-style: none;
}

.align-icon-shop-search {
    display: flex;
    width: 40%;
    padding: 8px 0;
    justify-content: center;
}

.align-icon-menu {
    display: flex;
    width: 10%;
    padding: 8px 0;
    justify-content: center;
}

.icon-color {
    color: var(--c-text);
    text-decoration: none;
}

.icon-color:hover {
    color: var(--c-icon-hover);
}

.fa-search {
    margin-left: 10px;
}

.main-container-graphic {
    max-width: 800px;
    width: 100%;
    background-color: var(--c-rod);
    margin: 0 auto;
    display: flex;
    flex-direction: column;
}

.container-nav-graphic {
    display: flex;
    width: 100%;
    line-height: 2;
}

.graphic__menu {
    width: 100%;
    justify-content: space-around;
    display: inherit;
    list-style: none;
}

.graphic__item {
    display: inherit;
}

.graphic__link {
    color: var(--c-text);
    text-decoration: none;
    position: relative;
}

.graphic__link:before {
    content: '';
    position: absolute;
    display: block;
    background-color: var(--c-text);
    width: 0;
    height: 2px;
    bottom: 5px;
    transition: all .4s;
}

.graphic__link:hover:before {
    width: 100%;
}

.container-graphic-img {
    position: relative;
}

.img-main {
    width: 100%;
    display: block;
}

.main-social {
    display: inline-flex;
    list-style: none;
    margin: 2px 0;
    justify-content: flex-end;
}

.align-social {
    display: inherit;
    font-size: 17px;
    padding: .5em;
}

.icon-color-social {
    color: var(--c-rod);
    text-decoration: none;
}

.icon-color-social:before {
    transition: all .2s;
    opacity: .3;
    background-color: var(--c-icon-social);
    border-radius: 50%;
}

.icon-color-social:hover:before {
    color: var(--c-text);
    opacity: .8;
    font-size: 16px;
}

.icon-youtube:before,
.icon-twitter:before {
    padding: .3em;
}

.icon-facebook:before {
    padding: .3em .6em;
}

.icon-instagram:before {
    padding: .3em .4em;
}

.icon-youtube:hover:before {
    background-color: red;
}

.icon-facebook:hover:before {
    background-color: rgba(38, 38, 243, 0.795);
}

.icon-twitter:hover:before {
    background-color: rgb(12, 166, 226);
}

.icon-instagram:hover:before {
    background-color: rgb(252, 48, 143);
}

.graphic-img__data {
    color: var(--c-text);
    position: absolute;
    top: 50%;
    height: 100%;
    left: 50%;
    display: flex;
    flex-wrap: wrap;
    align-content: space-around;
    transform: translate(-50%, -50%);
}

.img-data__title {
    width: 100%;
    color: red;
    font-size: 3.2em;
    cursor: default;
}

.img-data__subtitle {
    width: 100%;
    position: absolute;
    top: 40%;
    font-size: 1.6em;
    font-weight: bold;
    cursor: default;
}

.img-data__main-button {
    width: 100%;
}

.data-button__cta {
    color: var(--c-text);
    text-decoration: none;
    padding: 5px 10px;
    font-size: 1.2em;
    font-weight: bold;
    background-color: red;
}

.data-button__cta:hover {
    color: var(--c-title);
}

.main-grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(2, 1fr);
    grid-column-gap: 5px;
    grid-row-gap: 10px;
    background-color: var(--c-title);
}

.item {
    display: flex;
    position: relative;
    overflow: hidden;
}

.item-title__1,
.item-title__2,
.item-title__3,
.item-title__4,
.item-title__5 {
    color: var(--c-text);
    position: absolute;
    font-size: .7em;
    padding-top: 2%;
    line-height: 1;
}

.item-title__1 {
    padding-right: 2%;
}

.item-title__2 {
    padding-left: 2%;
    padding-top: 3.5%;
}

.item-title__3 {
    padding-right: 2%;
    padding-top: 4%;
}

.item-title__4 {
    padding-top: 3.5%;
    padding-right: 2%;
    font-size: .8em;
}

.item-title__5 {
    padding-left: 2%;
}

.item:nth-child(1) {
    justify-content: flex-end;
    grid-column: span 2;
}

.item:nth-child(3) {
    justify-content: flex-end;
    grid-row: span 2;
}

.item:nth-child(4) {
    justify-content: flex-end;
}

.item:nth-child(5) {
    grid-column: span 2;
}

.main-img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.item .main-img {
    transition: all .9s;
}

.item:hover .main-img {
    transform: scale(1.10);
}

.main-grid-products {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(1, 1fr);
    grid-column-gap: 5px;
    background-color: var(--c-title);
}

.item-products {
    display: flex;
    position: relative;
    background-color: var(--c-icon-font-products);
    color: var(--c-text);
    flex-direction: column;
}

.container-products__price,
.container-products__description {
    margin: 5% 0;
    cursor: default;
}

.products-description__title {
    font-size: 90%;
}

.products-description__subtitle {
    font-size: 60%;
}

.products-price {
    font-size: 80%;
}

.item-products:hover {
    background-color: var(--c-font);
    color: var(--c-title);
}

.main-img-products {
    width: 90%;
    object-fit: cover;
}

.main-grid-events {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(1, 1fr);
    grid-gap: 5px;
}

.main-img-events {
    width: 100%;
    object-fit: contain;
}

.item-events {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.events-description__title {
    margin: 5% 0;
    font-weight: bold;
    font-family: 'Courier New', Courier, monospace;
    font-size: 20px;
    align-self: flex-start;
    cursor: default;
    text-align: left;
    width: 90%;
    color: var(--c-font);
}

.events-description__subtitle {
    font-size: 11px;
    color: var(--c-font);
    width: 90%;
    text-align: justify;
    align-self: initial;
    margin: 5% 0;
    cursor: default;
}

.btn-cta {
    margin: 5% 0;
    text-decoration: none;
    color: var(--c-font);
    display: inline-block;
    font-weight: bold;
    align-self: flex-start;
    text-align: left;
    font-size: 15px;
}

.btn-cta:hover {
    color: red;
}